.containerNavigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  div {
    text-align: center;
    vertical-align: middle;
    a {
      font-family: $font-2;
      font-size: 15px;
      color: $black;
    }
  }
}
