.mainPresentation {

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
background: linear-gradient(
    to bottom,
    $fond-21,
    $fond-22
  );
  border-radius: 20px;
  padding: 10px;
  .iconContainer {
        position: absolute; // Position absolue par rapport à main
        top: 0px; // Décalage de 10px du haut
        right: 10px; // Décalage de 10px de la droite
        display: flex; // Permet d'aligner les icônes horizontalement
        gap: 2px; // Espacement entre les icônes
    }
  .titrepresentation {
    font-size: 25px;
    margin-bottom: 10px;
    @media (max-width: 420px) {
      font-size: 18px;
    }
  }
  .messagepresentation {

    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
        @media (max-width: 420px) {
      font-size: 14px;
    }
    textarea {
   font-size: 18px;
   background: transparent; 
      width: 100%; /* Utilise la largeur du conteneur parent */
      height: 100%; /* Utilise la hauteur du conteneur parent */
      resize: none; /* Empêche le redimensionnement manuel du textarea */
      box-sizing: border-box; /* Inclut la largeur et la hauteur dans les dimensions */
      text-align: center;
      border: none; /* Supprime les bordures */
      outline: none; /* Supprime le contour lorsqu'il est sélectionné */
      padding: 5px;
      text-align: center;
        @media (max-width: 420px) {
      font-size: 14px;
    }
      
    }
    &.editable { 
        textarea {
            background-color: rgba(173, 216, 230, 0.2);
        }
    }
  }
}