.mainPresentation {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
background: linear-gradient(
    to bottom,
    $fond-21,
    $fond-22
  );
  border-radius: 20px;
  .titrepresentation {
    font-size: 25px;
    margin-bottom: 10px;
    @media (max-width: 420px) {
      font-size: 18px;
    }
  }
  .messagepresentation {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
        @media (max-width: 420px) {
      font-size: 14px;
    }
  }
}